.Header
	background darken($color_red, 40%)
	display flex
	flex-wrap wrap
	justify-content space-around
	align-items center
	&-logo
		padding .5rem 0
		width 75%
		& h1
			font-family 'Patrick Hand SC', cursive
			text-align left
			margin 0
			padding 0 1rem
	&-hamburger
		overflow hidden
		width 25%
		& span
			cursor pointer
			font-size 2rem