/*
 |--------------------------------------------------------------------------
 | Colors
 |--------------------------------------------------------------------------
 */

$color_red   = #d24d57
$color_white = #ececec
$color_green = #1bbc9b