.Login
	height 100%
	min-height 100%
	width 100%
	&-container
		display table
		height 100%
		min-height 100%
		width 100%
	&-form
		display table-cell
		vertical-align middle
		& input,
		& button
			color darken($color_white, 50%)
			display block
			font-weight bold
			margin 0 auto
			padding 1rem
			width 90%
			&:first-child
				border-bottom 1px solid darken($color_white, 10%)
				
@media screen and (min-width 768px)
	.Login
		&-container
			margin 0 auto
			width 50%